.wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.input {
    padding: 2px 12px;
    font-size: var(--fs-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
}