.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: var(--fs-sm);
    font-weight: 600;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.primary {
    background-color: #007bff;
    color: white;
}



@media (min-width: 768px) {

    .buttons {
        gap: 8px;
    }
}