.container {
    max-width: 800px;
    margin: 40px auto;
    margin-top: 100px;
    padding: 12px;

    border: 1px solid #76b5c5;
    border-radius: 12px;

    background: var(--color-bg);

}

.text {
    text-align: center;
    font-size: var(--fs-lg);
    font-weight: 600;

    background-color: #c9d7fa;
    color: var(--color-text);

    padding: 12px 16px;
    border-radius: 12px;
    line-height: 1.4;
}

.span {
    color: #f03e56;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.25s ease-in-out;
}

.span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--color-btn-hover);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.span:hover {
    color: var(--color-btn-hover);
}

.span:hover::after {
    transform: scaleX(1);
}