.navLink {
  color: var(--color-text);
  font-size: clamp(16px, 2vw, 20px);
  text-decoration: none;
  padding: 6px 10px;
  transition: 0.3s ease;
  border-radius: 6px;
}

.navLink:hover {
  color: var(--color-btn-hover);
  font-weight: bold;
  background: var(--color-btn-bg-hover)
}

.activeLink {
  color: var(--color-btn-active);
  font-weight: bold;
  border-bottom: 2px solid var(--color-btn-border);

}