.modalContainer {
    background: #fff;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 24px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
        font-weight: 500;
        color: #555;
    }

    input {
        padding: 10px 12px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
        transition: border 0.2s;

        &:focus {
            border-color: var(--color-success)
        }
    }
}