.headerContainer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-bg);
    box-shadow: 4px 9px 11px -3px rgba(0, 0, 0, 0.4);
    padding: clamp(8px, 1.5vw, 10px) clamp(12px, 2vw, 24px);
    text-align: center;
}

.logoWrap {
    display: flex;
    gap: clamp(6px, 1vw, 15px);
    align-items: center;
    position: relative;
}

.logoWrap::after {
    content: '';
    width: 85%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 24px;
    z-index: -1;
    background-color: #5392e9;
}

.logo {
    height: clamp(24px, 2vw, 30px);
    width: clamp(24px, 2vw, 30px);
}

.logoText {
    color: var(--color-text);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: bold;
}

.nav {
    display: flex;
    gap: clamp(6px, 2vw, 24px);
    align-items: center;
}