.text {
    font-size: 16px;
    font-size: var(--fs-lg);
    line-height: 1.4;
}

.primary {
    color: var(--color-text);
}

.secondary {
    color: var(--color-text-secondary);
}

.error {
    color: red;
    font-weight: var(--fw-bold);
}