.cardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color-bg-card);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.cardInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.cardTitle {
    font-weight: bold;
}

.cardInfo {
    color: var(--color-text-secondary);
}

.cardActions {
    display: flex;
    flex-direction: column;
    gap: 4px;
}