.cardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    background-color: var(--color-bg-card);
    display: grid;
    gap: 4px;
}

.cardTitle {
    font-weight: bold;
}

.cardInfo {
    color: var(--color-text-secondary);
}