.cardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 12px;
    background-color: var(--color-bg-card);
}

.cardTitle {
    font-weight: bold;
    margin-bottom: 2px;
}

.cardInfo {
    color: var(--color-text-secondary);
}