.button {
    padding: 2px 3px;
    border-radius: 8px;
    width: 50px;
    font-size: 14px;
    transition: background 0.3s ease;
}

.primary {
    background: var(--color-btn-border);
    background: #c4d0e4;
    color: black;
}

.primary:hover:not(:disabled) {
    background: #5589c0;
    color: white;
}

.secondary {
    background: #cda8a2;
    color: black;
}

.secondary:hover:not(:disabled) {
    background: #c57062;
    color: white;
}

.danger {
    background: #dc3545;
    color: white;
}

.danger:hover:not(:disabled) {
    background: #a71d2a;
}

.button:disabled {
    background: #ccc;
    cursor: not-allowed;
}